@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html{
	min-height: 100%;
}

body{
	height: calc(100vh - 8em);
	padding: 4em;
	color: rgba(255,255,255,.75);
	font-family: 'Anonymous Pro', monospace;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
  	text-decoration-color: darkturquoise;
  	text-decoration-skip-ink: none;
  	color: darkturquoise;
}

.intro{
	position: relative;
	top: 7%;
	bottom: 7%;
	width: 55% !important;
	max-height: 100%;
	margin: 0 auto;
	font-size: 130%;
	text-align: center;
}

typed-strings{
  white-space: pre;
}